<p class="navbar-text float-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>
<p id="notice"><%= notice %></p>

<table>
  <thead>
  <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css?family=Oxygen"%>
    <tr>
    </tr>
  </thead>

  <tbody>
    <main>
      <section id="search">
       <div id="search-container">
        <div id="header">
          <h1>Le Searchy Search</h1>
        </div>
        <h4>Search here by keyword:</h4>
        <%= form_tag(search_items_path, method: :get) do %>  
          <div id="search-field">
            <%= text_field_tag(:search, params[:search]) %> <br>
            <%= submit_tag ("Search") %>
          </div>
        <% end %>
        </div>
      </section>
    <% @search_items.each do |search_item| %>
      <tr>
      <ul id="results">
      <li><%= link_to search_item.title, search_item_path(search_item) %></li><br>
      </ul>
      </tr>
    <% end %>
    </main>
  </tbody>
</table>
