<p id="notice"><%= notice %></p>

<h1>Searchy Search</h1>

<table>
  <thead>
    <tr>
    </tr>
  </thead>

  <tbody>
    <h4>Search here by keyword:</h4>
    <%= form_tag(search_items_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag ("Search")%>
    <% end %>

    <% @search_items.each do |search_item| %>
      <tr>
      <ul>
      <li><%= link_to search_item.title, search_item_path(search_item) %></li><br>
      </ul>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search Item', new_search_item_path %>
