<p id="notice"><%= notice %></p>

<main id="show-card">
<p>
  <strong>Title:</strong>
  <%= @search_item.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @search_item.text %>
</p>

<p>
  <strong>Link:</strong>
  <%= link_to 'Link to document', (@search_item.link), :target => "_blank" %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @search_item.keywords %>
</p>

|
<%= link_to 'Back', root_path, data: {turbolinks: false} %>
|

</main>