<!DOCTYPE html lang="en">
<html>
  <head>
    <title>SearchySearch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css2?family=Oxygen&display=swap','application.css' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap','application.css' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav class="nav-bar">
    <h3><a href="/">Le Searchy Search</a></h3>
  </nav>
  <body>
    <%= yield %>
  </body>
  <footer>
    <div id="navbar-b">Made with &#10084 for BB</div>
  </footer>
</html>
